<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="hu.bme.mit.sequencediagram.graphical.design.Activator"
               id="hu.bme.mit.sequencediagram.graphical.design"
	       name="graphical">
    </component>
  </extension>
  <extension
        point="org.eclipse.sirius.externalJavaAction">
     <javaActions
           actionClass="hu.bme.mit.sequencediagram.graphical.design.UpdateMessageContent"
           id="hu.bme.mit.sequencediagram.graphical.design.updateMessageContent">
     </javaActions>
     <javaActions
           actionClass="hu.bme.mit.sequencediagram.graphical.design.MaintainEventOrder"
           id="hu.bme.mit.sequencediagram.graphical.design.maintainEventOrder">
     </javaActions>
  </extension>
</plugin>
