<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated graphical -->
      <package
            uri="hu.bme.mit.sequencediagram.graphical"
            class="graphical.GraphicalPackage"
            genModel="graphical.genmodel"/>
   </extension>

</plugin>
