<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   

<extension point="org.eclipse.ui.commands">
    <command
        defaultHandler="hu.bme.mit.sequencediagram.m2m.ui.TransformHandler"
        id="hu.bme.mit.sequencediagram.m2m.ui.command"
        name="Transform">
    </command>
</extension>
<extension point="org.eclipse.ui.menus">
    <menuContribution allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <command commandId="hu.bme.mit.sequencediagram.m2m.ui.command"
                style="push">
            <visibleWhen checkEnabled="false">
                <with variable="selection">
                    <count value="1">
                    </count>
                    <iterate>
                        <adapt type="hu.bme.mit.sequencediagram.model.Model">
                        </adapt>
                    </iterate>
                </with>
            </visibleWhen>
        </command>
    </menuContribution>
</extension>



</plugin>
